# Gradle
.gradle/
build/

# Logs
logs/

# CSV (генерируемые файлы)
*.csv

# Gradle wrapper (оставляем jar!)
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# VS Code
.vscode/

# OS
.DS_Store